<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="20" />
    </connectionManagement>
    <settings>
      <servicePointManager expect100Continue="false" useNagleAlgorithm="false" />
    </settings>
  </system.net>
</configuration>